/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
/* FONT-FAMILY*/

@font-face {
    font-family: Badstue-Rock;
    src: url(fonts/TRYVesterbro-Poster.otf);
}

@font-face {
    font-family: footer;
    src: url(fonts/TRYVesterbro-Regular.otf);
}

/*Burger menu styling | Same for all pages*/
  
  .navigation__checkbox {
      display: none;
  }
  
  .navigation__button {
      position: fixed;
      top: 1.5rem;
      right: 1.5rem;
      height: 2.5rem;
      width: 2.5rem;
      text-align: center;
      background-color: #fff;
      border-radius: 50%;
      z-index: 300;
      box-shadow: 0 1rem 3rem black;
      cursor: pointer;
  }
  
  .navigation__background {
      position: fixed;
      top: 2rem;
      right: 2rem;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      background:white;
      background-size: cover;
      background-position: center;
      z-index: 100;
      transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
  }
  
  .navigation__nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      opacity: 0;
      width: 0;
      visibility: hidden;
      z-index: 200;
      transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .navigation__list {
      /*@include center;*/
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      list-style: none;
  }
  
  .navigation__item {
      margin: 1rem;
  }
  
  .navigation__link:link,
  .navigation__link:visited {
      display: inline-block;
      padding: 1rem 2rem;
      text-transform: uppercase;
      color: black;
      font-size: 2.4rem;
      text-decoration: none;
      transition: all .2s;
  }
  
  .navigation__link span {
      margin-right: 1.5rem;
      display: inline-block;
  }
  
  .navigation__link:hover {
      color: #b90115;
      transform: scale(1.1);
  }
  
  .navigation__checkbox:checked~.navigation__background {
      transform: scale(80)
  }
  
  .navigation__checkbox:checked~.navigation__nav {
      width: 100%;
      visibility: visible;
      opacity: 1;
  }
  
  .navigation__icon {
  
      position: relative;
      margin-top: 1.25rem;
  }
  
  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
      display: inline-block;
      width: 1.1rem;
      height: 1px;
      background-color: black;
  }
  
  .navigation__icon::before,
  .navigation__icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 200ms;
  }
  
  .navigation__icon::before {
      top: -.4rem;
  }
  
  .navigation__icon::after {
      top: .4rem;
  }
  
  .navigation__button:hover .navigation__icon::before {
      top: -0.5rem;
  }
  
  .navigation__button:hover .navigation__icon::after {
      top: 0.5rem;
  }
  
  .navigation__checkbox:checked+.navigation__button .navigation__icon {
      background-color: transparent;
  }
  
  .navigation__checkbox:checked+.navigation__button .navigation__icon::before {
      top: 0;
      transform: rotate(135deg);
  }
  
  .navigation__checkbox:checked+.navigation__button .navigation__icon::after {
      top: 0;
      transform: rotate(-135deg);
  }

@media screen and (min-width: 600px){
    .navigation__checkbox:checked~.navigation__background {
        transform: scale(150)
    } 
}

/* FOOTER | SAME FOR ALL PAGES*/

.footer {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1em;
    bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0.77em;
}
.footersection1 {
    display: flex;
    flex-direction: column;
}
.footersection2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer_container {
    display: flex;
    align-items: center;
}
.footer_heading {
    text-decoration: none;
    font-family: footer;
    color: black;
    font-size: 1.3em;
    padding-top: 15px;
    padding-bottom: 5px;
    text-decoration-line: none;
}
.footer_info {
    color: black;
    font-family: Oscine Regular;
    font-size: 1em;
    padding-left: 5px;
}
.someicons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.someicon {
    width: 37px;
}
.contacticon {
    width: 20px;
}
/* desktop version for the footer */
@media only screen and (min-width: 600px){
    .footer {
        position: none;
        justify-content: space-between;
        padding-bottom: 1em;
    }
    .footersection1 {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    .footersection2 {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    .someicon {
        width: 55px;
    }
    #socialmedia_heading {
        margin-left: 47px;
    }
    #soc {
        padding-right: 10px;
    }
}

/* HEADER AND BODY STYLING */

.title{
    display: block;
    font-family: Badstue-Rock;
    color: white;
    margin-left: 25px;
    margin-top: 30px;
    font-size: 1.5rem;
    text-decoration-line: none;
}

.body-home{
    background-image: url(images/backgroundmobile.png);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}

.body{
    background-color: black;
}
@media screen and (min-width: 600px) {
    .body-home{
        background-position: 20% 35%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .title {
        font-size: 2rem;
    }
    .footer {
        margin-top: auto;
    }
}

/* HOME PAGE STYLING */

.home-link{
    text-decoration: none;
    color: #ebd2b3;
    font-size: 90%;
    padding: 10px;
}

.div {
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color:black;
    width: 150px;
    height: 37.5px;
    clip-path: polygon(25% 0%, 100% 0%, 76% 100%, 0 100%);
}

.main{
    padding-left: 10%;
    padding-right: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30%;
}

.logo{
    width: 300px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.3em;
}
.links-together{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.home-description {
    display: none;
}
.logodesktop {
    display: none;
}
@media screen and (min-width: 600px){
    .logo {
        display: none;
    }
    .logodesktop {
        display: block;
        width: 350px;
        padding-top: 5em;
    }
    .links-together {
        display: none;
    }
    .main {
        position: relative;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-description {
        display: block;
        color: #fff;
        display: flex;
        padding-top: 7em;
        padding-bottom: 5em;
    }
    .description {
        text-align: center;
        font-size: 1.5em;
    }
    
    /* ! possible solution for header !
    .header {
        background-color: black;
        width: 100%;
        position: fixed;
        top: 0;
        padding-bottom: 1em;
    } */

}

/* ABOUT PAGE STYLING */
.sampletext {
    color: white;
}
.paragraph-heading {
    color: white;
}
.paragraph {
    color: white;
}
@media screen and (min-width: 600px) {
    .main-about {
        position: relative;
    }
}
/* MOVING VINYL NAVIGATION */
.main-about {
    display: flex;
    flex-direction: column;
}
.vinylmenu_container {
    display: flex;
    padding-bottom: 30em;
}
.album_cover {
    width: 300px;
    z-index: 20;
    position: absolute;
    top: 8em;
    left: -9em;
}
.vinyl_disc {
    width: 298px;
    z-index: 10;
    position: absolute;
    top: 4.7em;
    left: 1em;
    overflow: hidden;
    position: absolute;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    }
    @-moz-keyframes spin { 
        100% { -moz-transform: rotate(360deg); } 
    }
    @-webkit-keyframes spin { 
        100% { -webkit-transform: rotate(360deg); } 
    }
    @keyframes spin { 
        100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    }
}
.disc {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}
.weirdtext {
    font-family: TRYVesterbro-Poster;
    color: #fff;
    position: absolute;
    top: 4em;
    left: 1em;
    z-index: 21;
    font-size: 3rem;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.vinyl_nav {
    position: absolute;
    z-index: 15;
    top: 12.5em;
    left: 10em;
}
.vinyl_nav_news {
    position: absolute;
    z-index: 15;
    top: 16.7em;
    left: 14em;
}
.vinyl_nav,
.vinyl_nav_news {
	-webkit-animation: focus-in-expand 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
	animation: focus-in-expand 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
}
.vinylnav_name {
    color: rgb(202, 26, 26);
    padding-bottom: 6em;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: TRYVesterbro-Poster;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(255, 0, 119),
    0 0 82px rgb(255, 0, 119),
    0 0 92px rgb(255, 0, 119),
    0 0 102px rgb(255, 0, 119),
    0 0 151px rgb(255, 0, 119);
}
.vinylnav_name_shop {
    color: rgb(202, 26, 26);
    padding-bottom: 3em;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: TRYVesterbro-Poster;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(255, 0, 119),
    0 0 82px rgb(255, 0, 119),
    0 0 92px rgb(255, 0, 119),
    0 0 102px rgb(255, 0, 119),
    0 0 151px rgb(255, 0, 119);
}
.image{
    display: none;
}

.flipping_nav{
    display: none;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-11-13 15:27:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  /* ----------------------------------------------
 * Generated by Animista on 2021-11-13 15:52:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

/* 15.11 Igor changes */

/* Media queries */
@media screen and (min-width: 600px) {
    .vinyl_nav {
        display: none;
    }
    .album_cover {
        display: none;
    }
    .disc {
        display: none;
    }
}

/* Events page styling */

.events_heading {
    color: #ebd2b3;
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 1.5em;
    font-family: TRYVesterbro-Poster;
}
.events_subheading {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 2em;
    font-family: TRYVesterbro-Poster;
}
.events_text {
    color: #fff;
    font-size: 1.2rem;
    font-family: Oscine Regular;
}
.events_image {
    width: 300px;
}
.events_image_container {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}
.events_text_container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 3em;
}
@media screen and (min-width:600px) {
    .events_text_container {
        text-align: left;
        padding-left: 2em;
    }
    .singleevent {
        display: flex;
        flex-direction: row;
        padding-left: 23.5em;
    }
    .xclass {
        display: flex;
        flex-direction: row;
    }
    .singleevent2 {
        display: flex;
        flex-direction: row;
    }
    .doubleevent {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .blackdiv {
        width: 27.25em;
    }
    .blackdiv2 {
        width: 34em;
    }
    .blackdiv3 {
        width: 37.3em;
    }
    .events_div {
        padding-bottom: 3em;
    }
}
.flipping-block {
    padding-bottom: 4em;
}

/* fonts for navs */

.vinylnav_name {
    font-family: TRYVesterbro-Poster;
}

/* FOR THE FLIPPING CARD | SAME FOR ALL PAGES */

@media screen and (min-width: 600px) {
    .vinylmenu_container {
        display: none;
    }
    @-webkit-keyframes flip {
        from { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
        to { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }
    }
      
    @keyframes flip {
        from { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
        to { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }
    }
      
      
    /* entire container, keeps perspective */
    .flip-container {
        perspective: 1000;
    }
      
    .flip-container, .front, .back {
        width: 400px;
        height: 480px;
    }
      
    /* flip speed goes here */
    .flipper {
        transition: 2s;
        transform-style: preserve-3d;
        position: relative;
        -webkit-animation-name: flip;
        animation-name: flip;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
    }
      
      /* hide back of pane during swap */
    .front, .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
      
      /* front pane, placed above back */
    .front {
        z-index: 2;
      /* for firefox 31 */
        transform: rotateY(0deg);
    }
      
      /* back, initially hidden pane */
    .back {
        transform: rotateY(180deg);
    }
    
    .image{
        width: 400px;
        height: 400px;
        display: block;
    }
    
    .flipping-block{
          display: flex;
          justify-content: center;
          padding-top: 8%;
    }
    
    .flipping_nav {
        position: absolute;
        z-index: 150;
        top: 7em;
        left: 6.8em;
        z-index: 15;
        display: block;
    }
    .flipping_nav {
        -webkit-animation: focus-in-expand 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
                animation: focus-in-expand 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
    }
    .flippingnav_name {
        color: red;
        padding-bottom: 1em;
        font-size: 2em;
        font-family: Badstue-Rock;
        text-align: center;
    }
    
    .flippingnav_name:hover{
        color: gray;
    }
}

/* SHOP styling */

.vinylcare_text {
    color: #fff;
    font-family: Oscine Regular;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 2.5em;
    line-height: 22px;
}
.shop-heading {
    color: #ebd2b3;
    font-family: TRYVesterbro-Poster;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 2em;
}
.list_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 6em;
}
.arrow {
    width: 15px;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.giftcard {
    width: 160px;
}
.vinylcare_product {
    width: 300px;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
}
.vinylcare-first,
.vinylcare-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 600px) {
    .giftcard {
        width: 250px;
        padding-right: 1.5em;
        padding-left: 1.5em;
        padding-top: 2em;
        padding-bottom: 4em;
    }
    .vinylcare-first,
    .vinylcare-second {
        display: flex;
        flex-direction: row;
    }
    .vinylcare_product_container {
        padding-left: 3em;
        padding-right: 3em;
    }
    .giftcard:hover{
        width: 290px;
    }
}

/* NEWS page styling */

.news_heading {
    color: #ebd2b3;
    font-family: TRYVesterbro-Poster;
    font-size: 2.5rem;
    padding-bottom: 1em;
    text-align: center;
}
.news_subheading {
    color: #fff;
    font-family: TRYVesterbro-Poster;
}
.news_text,
.news_text_a {
    color: #fff;
    text-decoration: none;
    font-family: Oscine Regular;
}

